<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sokasyn.develop.learning.TestMultiTasks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sokasyn.develop.learning.TestMultiTasks.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AsyncTask测试Activity -->
        <activity
            android:name=".AsyncTaskActivity"
            android:label="Async Task Testing">
            <intent-filter>
                <action android:name="com.sokasyn.learning.TestMultiTasks.AsynTaskActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Handler测试Activity -->
        <activity
            android:name=".HandlerActivity"
            android:label="Handler Testing">
            <intent-filter>
                <action android:name="com.sokasyn.learning.TestMultiTasks.HandlerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>